* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}
#container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60%;
    /* gap: 2px; */
    border: 12px solid gray;
    /* padding: 2px; */
}
#display {
    background-color: #EEEFEF;
    border-bottom: 10px solid gray;
    flex-basis: 25%;
    font-size: 26px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 8px;
}
.row {
    flex-basis: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 2px; */
}
.row button {
    flex-basis: 25%;
    padding: 12px;
    /* border-radius: 0px; */
    font-size: 20px;
}

.row .btn {
    flex-basis: 50%;
}


/* .delete-btn {
    background-color: lightblue;
}
.clear-btn {
    background-color: lightcoral;
} */